.playlist{
  position: absolute;
  top: 0px;
  width: 25em;
  left: -30em;
  background-color: rgb(25,118,210);
  z-index: 50;
  max-height: calc(85% - 75px);
  overflow: scroll;
  transition: left .3s;
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  padding-top: 75px;
  min-height: 100%;
  
  &.open {
    left: 0em;
  }
}

.heading {
  color: white;
  padding: 0 0 10px 16px;
  border-bottom: 1px solid #efefef;
}

.fa-remove {
  &:before {
    color:#fff;
  }
  
  &:hover {
    &:before {
      color:#999;
    }
  }
}

.row {
  position: relative;
}

.control {
  position: absolute;
  right: 10px;
  top:10px;
}

.search-results {
  position: relative;
  // top:75px;
  // margin-top: 75px;
}

.track {
  font-size: 1.3em;
  color: lightgreen;
}

.artist {
  font-size:12px;
  color:lightskyblue;
}

.item {
  padding:10px 25px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 6px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .5s;
  cursor: pointer;
  
  &:hover {
    background-color: rgba(255, 255, 255, .7);
    transition: background-color .5s;
    
    .track {
      color:#444;
    }
    
    .artist {
      color:rgb(25,118,210);
    }
  }
  
}

.play-btn {
}

.control {
  cursor: pointer;
  color: #28b0ed;
  opacity: .4;
  transition: opacity .5s;
  
  &:hover {
    opacity: 1;
    transition: opacity .5s;
  }
}

.close-container {
  position: relative;
}
.fa-close {
  position: absolute;
  top: 65px;
  left: calc(50% + 15em);
  display: block;
  cursor: pointer;
}
