<!--<div class="fa fa-close" (click)="close()"></div>-->
<div class="playlist" [ngClass]="{open: (audiograph.state$ | async)?.menuOpen}">
  <div class="heading">
    PLAYLIST
  </div>
  <ul class="search-results">
    <li *ngFor="let track of (audiograph.state$ | async)?.playlist" class="item">
      <div class="row">
        <div class="col-xs-9">
          <div class="track">{{track.trackName}}</div>
          <div class="artist">{{track.artist}}</div>
        </div>
        <div class="col-xs-1 control">
          <a (click)="remove(track)" data-hint="Remove" class="hint--top-left">
            <i class="fa fa-remove"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
