<div class="playlist-menu" (click)="toggleMenu()">
  <div data-hint="Playlist" class="hint--bottom-right"></div>
  <div class="fa fa-bars"></div>
</div>
<search></search>
<search-results></search-results>
<snapshot></snapshot>
<playlist></playlist>
<twitter-feed></twitter-feed>
<new-tweet></new-tweet>
<div class="player-control prev-track" (click)="controlTrack(-1)">
  <div class="fa fa-backward"></div>
</div>
<div class="player-control toggle-play" (click)="togglePlay()">
  <div class="fa" [ngClass]="{'fa-pause': (audiograph.state$ | async)?.playing, 'fa-play': !(audiograph.state$ | async)?.playing}"></div>
</div>
<div class="player-control next-track" (click)="controlTrack(1)">
  <div class="fa fa-forward"></div>
</div>
