@import "variables";

.playlist-menu {
  position: fixed;
  top:20px;
  left:28px;
  cursor: pointer;
  z-index: 75;
  cursor: pointer;
  
  [data-hint] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.fa-bars {
  
  &:before {
    font-size: 40px;
  }
  
  &.open { 
    &:before {
      color: #fff;
    }  
  }
}
