<div class="twitter-feed" [ngClass]="{open: (twitterService.state$ | async)?.menuOpen}">
  <ul class="feed">
    <li *ngFor="let tweet of (twitterService.state$ | async)?.tweetFeed" class="item">
      <div class="text">
        {{tweet.text?.text}}
      </div>
      <div class="bottom-border">
        <a href="https://twitter.com/{{tweet.text?.user?.screen_name}}/status/{{tweet.text?.id_str}}" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <div class="author">
          {{tweet.text?.user?.name}}
          (@{{tweet.text?.user?.screen_name}})
        </div>
      </div>
    </li>
  </ul>
</div>
