.twitter-feed {
  background: rgba(255, 255, 255, .7);
  position: absolute;
  top: 0px;
  width: 25em;
  right: -30em;
  bottom: 0;
  position: fixed;
  cursor: pointer;
  z-index: 75;
  max-height: calc(85% - 75px);
  transition: right .3s;
  -webkit-transition: right .3s;
  -moz-transition: right .3s;
  margin-top: 75px;
  padding-top: 15px;
  min-height: 100%;

  &.open {
    right: 0em;
  }
}

.feed {
  height: 100%;
  height: inherit;
}

.item {
  // border: 1px solid rgba(75, 75, 75, .7);
}

.text{
  min-height: 55px;
  padding: 10px;
}

.bottom-border {
  width: 100%;
  background: rgba(75, 75, 75, .7);
  padding: 4px 0;
  text-align: right;
}

.author {
  display: inline;
  color: white;
  padding-right: 10px;
}

a {
  position: absolute;
  left: 7px;
  margin-top: 2px;
}

.fa-twitter {
  color: white;
  font-size: 1.3em;
}

@media (max-width: 375px) {
  .twitter-feed{
    width: 22em;
    
    .text {
      width:95%;
    }
    
    .bottom-border {
      width:96%;
    }
  }
 
}

@media (max-width: 350px) {
  .twitter-feed{
    width: 19em;
    
    .text {
      width:95%;
      font-size:1em;
    }
    
    .bottom-border {
      width:96%;
      font-size:.8em;
    }
  }
 
}
