.search-results-container{
  position: absolute;
  top: 0;
  margin-top: 75px;
  width: 30em;
  left: calc(50% - 15em);
  background-color: rgba(255, 255, 255, .3);
  z-index: 50;
  max-height: calc(85% - 75px);
  overflow: scroll;
}

.search-results {
  position: relative;
  // top:75px;
  // margin-top: 75px;
}

.item {
  padding:10px 25px;
  border: 1px solid transparent;
  border-bottom: 1px solid #efefef;
  margin-bottom: 6px;
  background-color: rgba(255, 255, 255, .3);
  transition: background-color .5s;
  cursor: pointer;
  
  &:hover {
    background-color: rgba(255, 255, 255, .9);
    transition: background-color .5s;
    border: 1px solid #bbb;
  }
  
}

.track {
  font-size: 1.3em;
}

.track, .artist {
  text-shadow: 1px 1px #efefef;
}

.play-btn {
}

.control {
  cursor: pointer;
  color: #28b0ed;
  opacity: .5;
  transition: opacity .5s;
  margin-top: 15px;
  
  &:hover {
    opacity: 1;
    transition: opacity .5s;
  }
}

.close-container {
  position: relative;
}
.fa-close {
  position: absolute;
  top: 65px;
  left: calc(50% + 15em);
  display: block;
  cursor: pointer;
}
