:host {
  display: block;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -160px;
  width: 250px;
  z-index: 100;
  opacity: .2;
  transition: opacity .5s;
  
  &:focus, &:hover {
    opacity: 1;
    transition: opacity .5s;
  }
}

#search-input {
  width: 300px;
  display: inline-block;
}

button {
  float: right;
}

input, button {
  outline: none;
}